<div class="header-container">
<h1 class="text-center"><%= @grade.student.first_name %> <%= @grade.mark %></h1></div>
<p>Find me in app/views/grades/show.html.erb</p>
<a href="<%=params[:id]%>/edit"><button type="button" class="btn btn-primary" >Edit</button></a>
