<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">@educator</h1></div>
<a href="<%=params[:id]%>/edit"><button type="button" class="btn btn-primary" >Edit</button></a>
