<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- put an image here -->
  <span class="navbar-toggler-icon"></span>
  <a class="navbar-brand" href="#">Logout</a>


</nav>
