<nav class="navbar <%=@color_scheme%>_background navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- put an image here -->
  <span class="navbar-toggler-icon"></span>
  <h2 class="navbar-brand <%=@color_scheme%>_text"  ><%= link_to "Logout", destroy_user_session_path, method: :delete%></h2>


</nav>
