$primary_hufflepuff: #f9e022;
$secondary_hufflepuff: black;

$primary_ravenclaw: #00004f;
$secondary_ravenclaw: #be7435;

$primary_gryffindor: #ce0000;
$secondary_gryffindor: #ffc700;

$primary_slytherin: #004200;
$secondary_slytherin: #dee2e6;
