

// if else statement depending who is logged in
@import 'partials/colors';


#school_crest {
  height: 150px;
  position:absolute;
  z-index: 100000;
  margin-top: -50px;
}

.move_me_down {
  margin-top:100px
}

h2 {
  font-family: Kurale, serif;
  padding-bottom: 9px;
}
h1 {
  margin-bottom: 0px;
  padding-bottom: 9px;
  font-family: Kurale, serif;
}
h4 {
  font-family: Kurale, serif;
}

#song {
  border: 2px solid black;
  margin: 20px 90px;
}

.ravenclaw-h{
  border-bottom: 1px solid $secondary_ravenclaw;
}
.gryffindor-h{
  border-bottom: 1px solid $secondary_gryffindor;
}
.ravenclaw-h{
  border-bottom: 1px solid $secondary_ravenclaw;
}
.hufflepuff-h{
  border-bottom: 1px solid $secondary_hufflepuff;
}


.slytherin_header{
  background-color:$secondary_slytherin;
  color: $primary_slytherin;
  border-color: $primary_slytherin;
}
.ravenclaw_header{
  background-color:$secondary_ravenclaw;
  color: $primary_ravenclaw;
  border-color: $primary_ravenclaw;
}
.gryffindor_header{
  background-color:$secondary_gryffindor;
  color: $primary_gryffindor;
  border-color: $primary_gryffindor;
}
.hufflepuff_header{
  background-color:$secondary_hufflepuff;
  color: $primary_hufflepuff;
  border-color: $primary_hufflepuff;
}
.header-container {
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;

  border-style: groove;
}

.slytherin_background {
  background-color: $primary_slytherin;
}
.gryffindor_background {
  background-color: $primary_gryffindor;
}
.ravenclaw_background {
  background-color: $primary_ravenclaw;
}
.hufflepuff_background {
  background-color: $primary_hufflepuff;
}

.slytherin_text {
  color: $secondary_slytherin;
}
.gryffindor_text {
  color: $secondary_gryffindor;
}
.ravenclaw_text {
  color: $secondary_ravenclaw;
}
.hufflepuff_text {
  color: $secondary_hufflepuff;
}

.slytherin_border {
    border-right: 1px solid $secondary_slytherin;
}
.gryffindor_border{
    border-right: 1px solid $secondary_gryffindor;
}
.ravenclaw_border {
    border-right: 1px solid $secondary_ravenclaw;
}
.hufflepuff_border {
    border-right: 1px solid $secondary_hufflepuff;
}
/*
 * Sidebar
 */



.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;

}

.slytherin_active {
  &.coloring {
    background-color: $secondary_slytherin;
    color: $primary_slytherin;
  }
}
.gryffindor_active {
  &.coloring {
    background-color: $secondary_gryffindor;
    color: $primary_gryffindor;
  }
}
.ravenclaw_active {
  &.coloring {
    background-color: $secondary_ravenclaw;
    color: $primary_ravenclaw;
  }
}
.hufflepuff_active {
  &.coloring {
    background-color: $secondary_hufflepuff;
    color: $primary_hufflepuff;
  }
}

body {
  padding-top: 50px;
  font-family: 'Reem Kufi', sans-serif;
}

/*
 * Typography
 */



.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

a {
  color: white;
}
/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}



.primary-color {

}
