// Place all the styles related to the point controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'partials/colors';

h2 {
  font-family: Kurale, serif;
  border-bottom: 1px solid $secondary_ravenclaw;
  padding-bottom: 9px;
}
h1 {

  margin-bottom: 0px;
  padding-bottom: 9px;
  border-bottom: 1px solid $secondary_ravenclaw;
  font-family: Kurale, serif;
}

.header-container {
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: $secondary_ravenclaw;
  color: $primary_ravenclaw;
  border-color: $primary_ravenclaw;
  border-style: groove;
}

.navbar {
  background-color: $primary_ravenclaw;
}

.navbar-brand {
  color: $secondary_ravenclaw;
}
/*
 * Sidebar
 */

 .nav-link {
   color: $secondary_ravenclaw;
 }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid $secondary_ravenclaw;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  background-color: $primary_ravenclaw;
}

.active {
    background-color: $secondary_ravenclaw !important;
}
